
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: white;
}

head img {
	float: left;
}

header img {
	padding-right: 30px;
	padding-left: 30px;
}

header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 130%;
}

header em {
	text-shadow: 2px 2px #800000;
}

main {
	padding-right: 30px;
	padding-left: 30px;
}

main h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin: 0 auto;
}

main h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

main h3 { 
	font-size: 105%;
	padding-bottom: .25em;
}

main img {
	padding-bottom: 1em;
}

main p {
	padding-bottom: .5em;
}

main blockquote {
	padding-right: 2em;
	padding-left: 2em;
}

main ul {
	padding-bottom: 20px;
	padding-left: 1.25em;
	list-style-type: circle;
}

main li {
	padding-bottom: .35em;
}

a:hover {
	font-style: italic;
}
/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 98%;
	max-width: 960px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

/* the styles for the header */
header img {
	float: left;
}

/* the styles for the section */
main {
	clear: both;
}

/* the styles for the footer */
footer {
	text-align: center;
	border: 3px solid #931420;
	background-color: #931420;
	color: white;
	padding: 25px;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 60%;
	clear: both;
}

aside a:hover {
	color: #931420;
}

.homesection {
    width: 68%;
    float: right;
    padding-right: 15px;
	padding-left: 15px;
}

.sidebar {
	text-align: center;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

aside h3 div {
	padding-top: 15px;
}

aside h3 form{
	font-size: 75%;
	padding-top: 70px;
	padding-bottom: 10px;
	float: left;
}

aside img {
	padding-bottom: 1em;
}

aside h2 {
	padding-top: 14px;

}

article {
	padding-bottom: 10px;
}

article img {
	float: right;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 2px;
	padding-bottom: 15px;
}

article h2 {
	padding-top: 10px;
	color: black;
}

article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

section h1 {
	color: maroon;
}

/* new menu */
.topnav {
	overflow: hidden;
	background-color: maroon;
	position: relative;
  }
  
  .topnav #myLinks {
	display: none;
  }
  
  .topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
  }
  
  .topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  .topnav a:hover {
	background-color: lightgrey;
	opacity: 75%;
	color: black;
	font-weight: bold;
  }
  
  .active {
	color: white;
  }

/* nav menu */
#nav_menu {
	position: relative;
}

#nav_menu ::after pseudo-element {
	clear: both;
	display: block;
}

#nav_menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#nav_menu ul li {
	float: left;
}

#nav_menu ul li a {
	display: block;
	width: 170px;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}

#nav_menu .current {
	color: yellow;
}
/* end of nav menu */


/* sub menu */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn a:hover {
	color: white;
}

.dropdown-content {
	display: none;
	position: absolute;
	padding-top: 10px;
}

.dropdown-content a:hover {
	background-color: #ddd;
	font-style: italic;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown {
	display: block;
	padding-bottom: 3px;
	text-decoration: none;
	background-color: #800000;
	color: white;
	float: left;
	width: 100%;
}

#mobile_menu { 
	display: none; 
	background-color: maroon;
}

/* display the mobile menu #mobile_menu { display: block; }	 */

@media only screen 
  and (max-device-width: 959px) 
  and (orientation: portrait) {

	section h1 {
        font-size: 135%;
    }

    section h2 {
        font-size: 120%;
	}
	
	aside h2 {
        font-size: 120%;
    }

    #nav_menu {
        display: none !important;
	}

	#mobilemenu {
		display: none;
	}
}


@media only screen 
	and (max-width: 767px)
	and (orientation: landscape) {

		header img {
			float: none;
			padding-left: 45%;
			align-content: center;
		}

		.homesection {
			float: none;
			width: 100%;
		}

		header h2 {
			font-size: 130%;
			padding-left: 30%;
			align-content: center;
		}

		header h3 {
			padding-left: 33%;
			align-content: center;
		}

		main img {
			max-width: 30%;
		}

		article img {
			padding-top: 0px;
		}

		#nav_menu {
			display: none;
		}

		#mobile_menu {
			display: block;
		}

		.sidebar div {
			column-count: 2;
			width: 100;
		}
}

@media only screen 
	and (max-width: 611px)
	and (orientation: portrait) {

		header {
			font-size: 100%;
		}

		body {
			font-size: 100%;
		}

		footer {
			font-size: 100%;
		}

		header h3 {
			padding-left: 28%;
			align-content: center;
		}

		header h2 {
			font-size: 130%;
			padding-left: 24%;
			align-content: center;
		}

		header img {
			float: none;
			padding-left: 42%;
			align-content: center;
		}

		.homesection {
			float: none;
			width: 100%;
		}

		.sidebar div {
			column-count: 2;
			width: 100;
		}
}

@media only screen 
	and (max-width: 479px)
	and (orientation: portrait) {

		header {
			font-size: 90%;
		}

		body {
			font-size: 90%;
		}

		footer {
			font-size: 90%;
		}

		header h3 {
			padding-left: 26%;
			align-content: center;
		}

		header h2 {
			font-size: 130%;
			padding-left: 22%;
			align-content: center;
		}

		header img {
			float: none;
			padding-left: 40%;
			align-content: center;
		}

		.homesection {
			float: none;
			width: 100%;
		}

		.sidebar div {
			column-count: 2;
			width: 100;
		}
}
